/*
 * This is a manifest file that'll be compiled into application.css.
 * It includes all the SCSS and CSS files.
 */

/* Import Bootstrap */
@import "bootstrap";

.gradient-custom {
    /* fallback for old browsers */
    background: #333333;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(51, 51, 51, 1), rgba(0, 0, 0, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(51, 51, 51, 1), rgba(0, 0, 0, 1));
}


.gradient-custom  .mask-customs {
    background: rgba(240, 240, 234, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    width: 200px;
    }

    .gradient-custom  .mask-custom {
        background: rgba(240, 240, 234, 0.2);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
        }